*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #3A458D;
}

button{
    background-color: #15267E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

header{
    background-color: #15267E;
    color: white;
    height: 60px;
    display: flex;
    align-items:center;
    border-bottom: 5px solid orange;
}

#divall{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#div1 {
    width: 500px;
    display: inline-block;
    margin: 5px;
}

#div2 {
    width: 900px;
    display: inline-block;
    margin: 5px;
}

#div3 {
    width: 1000px;
    display: inline-block;
    margin: 5px;
}

#div4 {
    width: 714px;
    display: inline-block;
    margin: 5px;
}

#div5{
    width: 780px;
    display: inline-block;
    margin: 5px;
}

#div6{
    width: 700px;
    display: inline-block;
    margin: 5px;
}

img{
    width: 100%;
    height: 45vw;
    border-bottom: 5px solid orange;
    transition: all .2s ease-in-out;
}

a{
    color: white;
    font-style: none;
}

img:hover{
    transform: scale(1.01);
}

figcaption{
    color: white;
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

article > img{
    width: 100%;
    height: auto;
}

article{
    color: white;
    font-size: medium; 
}

article2{
    color: white;
    padding: 5px;
    margin: 5px; 
}

h2{
    color: white;    
}

h5{
    color: white;
}

h1{
    color: white;
}

h4{
    color: white;
}

figure > button{
    padding: 10%;
}

article3{
    margin: 5px auto;
    display: inline-block;
    display: flex;
}

article3 > img{
    width: 50%;
    height: auto;
    display: inline-block;
    display: flex;
    margin: 0 auto;
    border-top: 5px solid orange;
}

article3 > img:hover{
    transform: none;
}

.goog-logo-link {
    display:none !important;
 }
 
 .goog-te-gadget {
    color: transparent !important;
 }
 
 .goog-te-gadget .goog-te-combo {
    color: blue !important;
 }

footer{
    background-color: white;
    border-top: 5px solid orange;
}

footer > h2{
    color: black;
}

@media screen and (max-width:1000px) {
    article{
        width: 100vw;
    }
    footer > p{
        width: 100vw;
    }
    img:hover{
        transform: none;
    }
    figure{
        width: 100vw;
    }
}

@media screen and (max-width: 600px){
    body{
        font-size: 16px;
    }
    article{
        width: 80vw;
        padding: 20px;
    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 80vw;
        padding-left: 20px;
    }
    header > button {
        font-size: 15px;
        margin: 4px;
        padding: 4px;
    }
    figure{
        width: 100vw;
    }
}